body {
    font-family: Arial, sans-serif;
    background-color: #FFF1E6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

h2 {
    font-size: 24px;
    color: #FF7043;
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #FFBBA4;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #FFF7F4;
}

.form-input:focus {
    outline: none;
    border-color: #FF7043;
}

button {
    background-color: #FF7043;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #F4511E;
}

.container-bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.container-bg img {
    width: 250px;
}

.home-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #D84315;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.home-button:hover {
    background-color: #F4511E;
}
